body {
   color: #000000;
   background-color:  #3774A1;
   font-family: 'Roboto Condensed', sans-serif;
}

.header {
   color: #000000;
   background-color:  #AD3259;
   font-size: 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.tiny-box {
   align-self: center;
   padding: 6px 6px 6px;
}

.container {
   display: flex;
   flex-direction: column;
   flex-shrink: 5;
}

.principle-box {
   display: flex;
   width: 275px;
   height: 130px;
   font-size: 28px;
   padding: 15px 20px 15px;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 48%;
   text-align: center;
   border: dotted red;
   color: #000000;
   background-color: #35B86C;
}

.design {
   display: flex;
   align-items: center;
   font-size: 40px;
   width: 275px;
   height: 130px;
   margin-left: 30%;
   padding: 10px 17px 13px;
   position: sticky;
   justify-content: center;
   top: 29%;
   text-align: center;
   border: double thick red;
   color: #000000;
   background-color: #6735B8;
}