.container {
   font-family: 'Roboto Condensed', sans-serif;
   display: flex;
   flex-direction: column;
}

.principle-box {
   width: 275px;
   height: 130px;
   padding: 15px 20px 15px;
   margin-top: 1rem;
   margin-left: 65rem;
   text-align: left;
   border: dotted red;
   background-color: #86BD8F;
}