body {
   color: #000000;
   background-color:  #3774A1;
}

.container {
   font-family: 'Roboto Condensed', sans-serif;
   display: flex;
   flex-direction: column;
}

.principle-box {
   width: 275px;
   height: 130px;
   padding: 15px 20px 15px;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 48%;
   text-align: left;
   border: dotted red;
   color: #000000;
   background-color: #35B86C;
}

.design {
   width: 275px;
   height: 130px;
   margin-left: 30%;
   padding: 13px 17px 13px;
   position: sticky;
   top: 10px;
   text-align: center;
   border: double thick red;
   color: #000000;
   background-color: #6735B8;
}